@import url("https://fonts.googleapis.com/css2?family=Damion&family=Homemade+Apple&display=swap");

#app-container {
  background-image: url(https://i.ibb.co/PhZW9Tb/ocean-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#column {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  font-family: "Damion", cursive;
  font-size: 1.5rem;
  color: white;
}

#quote-txt {
  min-height: 9rem;
}

#author {
  font-size: 1rem;
}

.hide {
  visibility: hidden;
}